@charset "UTF-8";
/* Primero tipografía y luego * los márgenes si o si */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* VARIABLES */
/* HEADER */
header {
  /* Color cabecera */
  background-color: rgba(0, 0, 0, 0.85);
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 1; }
  header .menu_titulo {
    max-width: 100%;
    margin: auto;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2px; }
    header .menu_titulo div .cabecera {
      color: #FFFFFF;
      background: #333333;
      text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
      text-align: left;
      font-size: 15px;
      float: left;
      margin-left: 10px; }
    header .menu_titulo div .cabecera_local {
      color: #FFFFFF;
      background: #333333;
      text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
      text-align: right;
      font-size: 15px;
      float: right;
      margin-right: 10px; }
  header .menu_principal {
    max-width: 100%;
    margin: 10px 10px 0px 25px;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between; }
    header .menu_principal div .logo_electroavenida {
      width: 120px;
      height: 120px;
      margin-bottom: 15px; }

@keyframes slidein {
  from {
    color: rgba(0, 0, 0, 0.512); }
  to {
    color: rgba(40, 165, 233, 0.512); } }

/* MAIN INDEX */
.back_main {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/aeropuerto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .back_main .container_productos {
    max-width: 100%;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px; }
    .back_main .container_productos .producto {
      font-size: 15px;
      background: #cac7c7;
      color: black;
      padding: 1em;
      margin-right: 8px;
      border: 1px solid black;
      text-align: center;
      transition: 1s; }
      .back_main .container_productos .producto:hover {
        transform: scale(1.04);
        box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75); }
      .back_main .container_productos .producto h3 {
        font-size: 25px;
        text-align: center; }
      .back_main .container_productos .producto .item_producto {
        margin: 3px;
        width: 150px;
        height: 150px; }
      .back_main .container_productos .producto h5 {
        font-size: 25px;
        font-style: bold;
        border: 1px solid black;
        color: white;
        background: black;
        margin-top: 10px; }

.dist_pag {
  background: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .dist_pag .dist_pag_grid {
    max-width: 100%;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px; }
    .dist_pag .dist_pag_grid .titulo_show {
      color: white;
      font-size: 16px; }
    .dist_pag .dist_pag_grid .menu_show {
      display: inline-block; }
    .dist_pag .dist_pag_grid .page_nro {
      color: white;
      font-size: 16px; }

/* VF */
.back_main {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/aeropuerto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .back_main .container_productos_vf {
    max-width: 100%;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px; }
    .back_main .container_productos_vf h6 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 30px;
      font-style: bold; }
    .back_main .container_productos_vf .producto {
      font-size: 15px;
      background: #cac7c7;
      color: black;
      padding: 1em;
      margin-right: 8px;
      border: 1px solid black;
      text-align: center;
      transition: 1s; }
      .back_main .container_productos_vf .producto:hover {
        transform: scale(1.04);
        box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75); }
      .back_main .container_productos_vf .producto .item_producto {
        margin: 3px;
        width: 150px;
        height: 150px; }
    .back_main .container_productos_vf h5 {
      font-size: 25px;
      font-style: bold;
      border: 1px solid black;
      color: white;
      background: black;
      margin-top: 10px; }

/* BLOGS */
.blogs {
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: gray;
  gap: 30px; }
  .blogs .blog_imagen {
    border: 2px solid black;
    width: 305px;
    height: 305px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .blogs .blog_imagen .item_blog {
      width: 300px;
      height: 300px;
      list-style: none; }
  .blogs .blog_text {
    font-size: 15px; }

/* CONTACTO */
.contacto_main {
  max-width: 100%;
  margin: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray; }

/* Footer */
.pie_de_pagina {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  margin: 0px; }
  .pie_de_pagina .pie_pagina {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px; }
    .pie_de_pagina .pie_pagina .contacto {
      margin: 5px 5px 5px 5px;
      font-size: 20px; }
      .pie_de_pagina .pie_pagina .contacto .contacto_ref {
        text-decoration: none;
        color: #ec0b0b;
        font-size: 35px; }
    .pie_de_pagina .pie_pagina div .maps_google {
      width: 800px;
      height: 300px; }
    .pie_de_pagina .pie_pagina .redes_sociales {
      position: fixed;
      bottom: 50px;
      right: 50px; }
      .pie_de_pagina .pie_pagina .redes_sociales .redes_sociales_icon {
        height: 40px;
        width: 40px;
        transition: 1s; }

/* Productos unitarios */
.un_producto {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/aeropuerto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .un_producto .unitario_producto {
    max-width: 80%;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2fr);
    gap: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px; }
    .un_producto .unitario_producto .cada_producto {
      font-size: 15px;
      background: #cac7c7;
      color: black;
      padding: 1em;
      margin-right: 20px;
      border: 1px solid black;
      text-align: center;
      transition: 1s; }
      .un_producto .unitario_producto .cada_producto:hover {
        transform: scale(1.04);
        box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75); }
        .un_producto .unitario_producto .cada_producto:hover h3 {
          font-size: 25px;
          text-align: center; }

/* --------------------------------------------------------- */
/* Comienzo con media screen para responsive */
/*  */
/* 1875 */
@media screen and (max-width: 1875px) {
  /* Ajusto VF */
  .back_main .container_productos_vf {
    grid-template-columns: repeat(4, 1fr); }
  .back_main .container_productos_vf .producto h5 {
    font-size: 18px;
    margin-top: 8px; }
  .back_main .container_productos_vf .producto h6 {
    font-size: 22px; }
  .back_main .container_productos .producto h5 {
    font-size: 18px;
    margin-top: 8px; } }

/* 1560px */
@media screen and (max-width: 1560px) {
  /* Ajusto footer */
  .pie_de_pagina .pie_pagina .contacto {
    font-size: 15px; }
  /* Titulo de Contacto */
  .pie_de_pagina .pie_pagina .contacto .contacto_ref {
    font-size: 30px; }
  .pie_de_pagina .pie_pagina div .maps_google {
    width: 600px;
    height: 250px; } }

/* 1430 */
@media screen and (max-width: 1430px) {
  /* Ajusto VF */
  .back_main .container_productos_vf {
    grid-template-columns: repeat(4, 1fr); }
  .back_main .container_productos_vf .producto h5 {
    font-size: 14px;
    margin-top: 7px; }
  .back_main .container_productos_vf .producto h6 {
    font-size: 18px; }
  .back_main .container_productos .producto h5 {
    font-size: 14px;
    margin-top: 7px; } }

/* 1210 */
@media screen and (max-width: 1210px) {
  /* Ajusto VF */
  .back_main .container_productos_vf {
    grid-template-columns: repeat(3, 1fr); }
  .back_main .container_productos_vf .producto h5 {
    font-size: 12px;
    margin-top: 5px; }
  .back_main .container_productos_vf .producto h6 {
    font-size: 15px; }
  .back_main .container_productos .producto h5 {
    font-size: 12px;
    margin-top: 5px; } }

/* 1180px */
@media screen and (max-width: 1180px) {
  /* Ajusto footer */
  .pie_de_pagina .pie_pagina .contacto {
    font-size: 10px; }
  /* Titulo de Contacto */
  .pie_de_pagina .pie_pagina .contacto .contacto_ref {
    font-size: 25px; }
  .pie_de_pagina .pie_pagina div .maps_google {
    width: 500px;
    height: 250px; } }

/* 1130px */
@media screen and (max-width: 1130px) {
  /* Ajusto contenedor de productos */
  .back_main .container_productos {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-bottom: 15px;
    padding-top: 15px; }
  header .menu_titulo div .cabecera {
    font-size: 12px; }
  header .menu_titulo div .cabecera_local {
    font-size: 12px; } }

/* 920px */
@media screen and (max-width: 920px) {
  /* Ajusto footer */
  .pie_de_pagina .pie_pagina .contacto {
    font-size: 10px; }
  /* Titulo de Contacto */
  .pie_de_pagina .pie_pagina .contacto .contacto_ref {
    font-size: 20px; }
  .pie_de_pagina .pie_pagina div .maps_google {
    width: 400px;
    height: 200px; } }

/* 840px */
@media screen and (max-width: 840px) {
  header .menu_principal div .logo_electroavenida {
    width: 90px;
    height: 90px; }
  header .menu_principal .electroavenida_titulo {
    font-size: 40px; }
  /* Ajusto contenedor de productos */
  .back_main .container_productos {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-bottom: 10px;
    padding-top: 10px; }
  /* Ajusto footer */
  .pie_de_pagina .pie_pagina div .maps_google {
    width: 300px;
    height: 200px; } }

/* 780px */
@media screen and (max-width: 780px) {
  /* Ajusto footer */
  .pie_de_pagina .pie_pagina .contacto {
    font-size: 8px; }
  /* Titulo de Contacto */
  .pie_de_pagina .pie_pagina .contacto .contacto_ref {
    font-size: 20px; }
  .pie_de_pagina .pie_pagina div .maps_google {
    width: 250px;
    height: 180px; }
  /* Ajusto VF */
  .back_main .container_productos_vf {
    grid-template-columns: repeat(2, 1fr); }
  .back_main .container_productos_vf .producto h5 {
    font-size: 10px;
    margin-top: 2px; }
  .back_main .container_productos_vf .producto h6 {
    font-size: 15px; }
  .back_main .container_productos .producto h5 {
    font-size: 10px;
    margin-top: 2px; }
  /* Ajusto Blog */
  .blogs .blog_text {
    font-size: 10px; }
  .blogs .blog_imagen {
    width: 150px;
    height: 150px; }
  .blogs .blog_imagen .item_blog {
    width: 150px;
    height: 150px; } }

/* 650px */
@media screen and (max-width: 650px) {
  /* Ajusto menú cabecera */
  header .menu_principal div .logo_electroavenida {
    width: 60px;
    height: 60px; }
  header .menu_principal .electroavenida_titulo {
    font-size: 25px; }
  /* Ajusto contenedor de productos */
  .back_main .container_productos {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding-bottom: 8px;
    padding-top: 8px; }
  /* Titulo de Contacto */
  .pie_de_pagina .pie_pagina .contacto .contacto_ref {
    font-size: 15px; }
  .pie_de_pagina .pie_pagina div .maps_google {
    width: 200px;
    height: 150px; } }

/* 550px */
@media screen and (max-width: 550px) {
  /* Header Ajusto menú cabecera */
  header .menu_principal div .logo_electroavenida {
    width: 40px;
    height: 40px; }
  header .menu_principal .electroavenida_titulo {
    font-size: 15px; }
  header .menu_titulo div .cabecera {
    font-size: 8px; }
  header .menu_titulo div .cabecera_local {
    font-size: 8px; }
  /* Ajusto Main - contenedor de productos */
  .back_main .container_productos {
    grid-template-columns: 1fr;
    gap: 2px;
    padding-bottom: 4px;
    padding-top: 4px; }
  /* Ajusto VF */
  .back_main .container_productos_vf {
    grid-template-columns: 1fr; }
  /* importe vf */
  .back_main .container_productos_vf .producto h5 {
    font-size: 15px;
    margin-top: 2px; }
  /* título vf */
  .back_main .container_productos_vf .producto h6 {
    font-size: 20px; }
  .back_main .container_productos .producto h5 {
    font-size: 15px;
    margin-top: 2px; }
  /* Footer - Titulo de Contacto */
  .pie_de_pagina .pie_pagina .contacto .contacto_ref {
    font-size: 8px; }
  .pie_de_pagina .pie_pagina div .maps_google {
    width: 80px;
    height: 50px; }
  /* Ajusto Blog */
  .blogs .blog_text {
    font-size: 8px; }
  .blogs .blog_imagen {
    width: 90px;
    height: 90px; }
  .blogs .blog_imagen .item_blog {
    width: 90px;
    height: 90px; }
  .un_producto .unitario_producto {
    max-width: 80x;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px; }
  .un_producto .unitario_producto .cada_producto {
    margin-right: 5px; }
  .un_producto .unitario_producto .cada_producto .item_producto {
    width: 150px;
    height: 150px; } }

/* Fin de media screen */
