/* --------------------------------------------------------- */
/* Comienzo con media screen para responsive */
/*  */

/* 1875 */
@media screen and (max-width:1875px) {
    /* Ajusto VF */
    .back_main .container_productos_vf {
        grid-template-columns: repeat(4, 1fr);
    }
    .back_main .container_productos_vf h5{
        font-size: 18px;
        margin-top: 8px;
    }
    .back_main .container_productos_vf h6 { 
        font-size: 22px;
    }
}


/* 1560px */
@media screen and (max-width:1560px) {
    /* Ajusto footer */
    .pie_de_pagina .pie_pagina .contacto {
        font-size: 15px;
    }
    /* Titulo de Contacto */ 
    .pie_de_pagina .pie_pagina .contacto .contacto_ref {
        font-size: 30px;
    }
    
    .pie_de_pagina .pie_pagina div .maps_google {
        width: 600px;  
        height: 250px;
    }
}

/* 1430 */ 
@media screen and (max-width:1430px) {
    /* Ajusto VF */
    .back_main .container_productos_vf {
        grid-template-columns: repeat(4, 1fr);
    }
    .back_main .container_productos_vf h5 {
        font-size: 14px;
        margin-top: 7px;
    }
    .back_main .container_productos_vf h6 { 
        font-size: 18px;
    }
}

/* 1210 */
@media screen and (max-width:1210px) {
    /* Ajusto VF */
    .back_main .container_productos_vf {
        grid-template-columns: repeat(3, 1fr);
    }
    .back_main .container_productos_vf h5 {
        font-size: 12px;
        margin-top: 5px;
    }
    .back_main .container_productos_vf h6 { 
        font-size: 15px;
    }
}

/* 1180px */
@media screen and (max-width:1180px) {
    /* Ajusto footer */
    .pie_de_pagina .pie_pagina .contacto {
        font-size: 10px;
    }
    /* Titulo de Contacto */ 
    .pie_de_pagina .pie_pagina .contacto .contacto_ref {
        font-size: 25px;
    }
    .pie_de_pagina .pie_pagina div .maps_google {
        width: 500px;  
        height: 250px;
    }
}

/* 1130px */
@media screen and (max-width:1130px) {
   
    /* Ajusto contenedor de productos */
    .back_main .container_productos {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    header .menu_titulo div .cabecera {
        font-size: 12px;
    }

    header .menu_titulo div .cabecera_local {
        font-size: 12px;
    }
}


/* 920px */
@media screen and (max-width:920px) {
    /* Ajusto footer */
    .pie_de_pagina .pie_pagina .contacto {
        font-size: 10px;
    }
    /* Titulo de Contacto */ 
    .pie_de_pagina .pie_pagina .contacto .contacto_ref {
        font-size: 20px;
    }
    
    .pie_de_pagina .pie_pagina div .maps_google {
        width: 400px;  
        height: 200px;
    }
}

/* 840px */ 
@media screen and (max-width:840px) {

    header .menu_principal div .logo_electroavenida {
        width: 90px;
        height: 90px;
    }
    header .menu_principal .electroavenida_titulo {
        font-size: 40px;
    }
    /* Ajusto contenedor de productos */
    .back_main .container_productos {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    /* Ajusto footer */
    .pie_de_pagina .pie_pagina div .maps_google {
        width: 300px;  
        height: 200px;
    }
}

/* 780px */    
@media screen and (max-width:780px) {

    /* Ajusto footer */
    .pie_de_pagina .pie_pagina .contacto {
        font-size: 8px;
    }
    /* Titulo de Contacto */ 
    .pie_de_pagina .pie_pagina .contacto .contacto_ref {
        font-size: 20px;
    }
    
    .pie_de_pagina .pie_pagina div .maps_google {
        width: 250px;  
        height: 180px;
    }
    
    /* Ajusto VF */
    .back_main .container_productos_vf {
        grid-template-columns: repeat(2, 1fr);
    }
    .back_main .container_productos_vf h5 {
        font-size: 15px;
        margin-top: 2px;
    }
    .back_main .container_productos_vf h6 { 
        font-size: 15px;
    }
    /* Ajusto Blog */
    .blogs .blog_text {
        font-size: 10px;
    }
    .blogs .blog_imagen {
        width: 150px;
        height: 150px;
    }
    .blogs .blog_imagen .item_blog {
        width: 150px;
        height: 150px;
    }
}

/* 650px */    
@media screen and (max-width:650px) {
    /* Ajusto menú cabecera */
    header .menu_principal div .logo_electroavenida {
        width: 60px;
        height: 60px;
    }
    header .menu_principal .electroavenida_titulo {
        font-size: 25px;
    }

    /* Ajusto contenedor de productos */
    .back_main .container_productos {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        padding-bottom: 8px;
        padding-top: 8px;
    }
    /* Titulo de Contacto */ 
    .pie_de_pagina .pie_pagina .contacto .contacto_ref {
        font-size: 15px;
    }
    
    .pie_de_pagina .pie_pagina div .maps_google {
        width: 200px;  
        height: 150px;
    }
}

/* 550px */    
@media screen and (max-width:550px) {
    /* Header Ajusto menú cabecera */
    header .menu_principal div .logo_electroavenida {
        width: 40px;
        height: 40px;
    }
    header .menu_principal .electroavenida_titulo {
        font-size: 15px;
    }

    header .menu_titulo div .cabecera {
        font-size: 8px;
    }

    header .menu_titulo div .cabecera_local {
        font-size: 8px;
    }

    /* Ajusto Main - contenedor de productos */
    .back_main .container_productos {
        grid-template-columns: 1fr;
        gap: 2px;
        padding-bottom: 4px;
        padding-top: 4px;
    }
    /* Ajusto VF */
    .back_main .container_productos_vf {
        grid-template-columns: 1fr;
    }
    /* importe vf */
    .back_main .container_productos_vf h5 {
        font-size: 20px;
        margin-top: 2px;
    }
    /* título vf */
    .back_main .container_productos_vf h6 { 
        font-size: 20px;
    }
    /* Footer - Titulo de Contacto */ 
    .pie_de_pagina .pie_pagina .contacto .contacto_ref {
        font-size: 8px;
    }
    
    .pie_de_pagina .pie_pagina div .maps_google {
        width: 80px;  
        height: 50px;
    }
        /* Ajusto Blog */
        .blogs .blog_text {
            font-size: 8px;
        }
        .blogs .blog_imagen {
            width: 90px;
            height: 90px;
        }
        .blogs .blog_imagen .item_blog {
            width: 90px;
            height: 90px;
        }
        // productos individuales
        .un_producto .unitario_producto {
            @include grilla(80x, 5px, grid, repeat(1fr), 0px, 5px,
                5px, 20px, 0px, 0px, 0px);
                }
        
        .un_producto .unitario_producto .cada_producto {
            margin-right: 5px;

        }
        .un_producto .unitario_producto .cada_producto .item_producto{
            width: 150px;
            height: 150px;
        }
}
/* Fin de media screen */
