/* Footer */

    .pie_de_pagina{
        background-color:  rgba(0, 0, 0, 0.85);
        color: rgb(255, 255, 255);
        margin: 0px;
        .pie_pagina{
            @include grilla(100%, auto, grid, repeat(3, 1fr), 15px, 20px,
            20px, 0px, 0px, 0px, 0px);

            
            .contacto{
                margin: 5px 5px 5px 5px;
                font-size: 20px;
                .contacto_ref{
                    text-decoration: none;
                    color:#ec0b0b;
                    font-size: 35px;
                }
            }
            div{
                .maps_google{
                    width: 800px;  
                    height: 300px;
                }
            }

            .redes_sociales{
                position: fixed;
                bottom: 50px;
                right: 50px;
                .redes_sociales_icon{
                    height:40px; 
                    width:40px;
                    transition: 1s;
                }
            }
        }
    }
