/* HEADER */


header {
    /* Color cabecera */
    background-color: rgba(0, 0, 0, 0.85);
    position: sticky;
    top: 0;
    z-index: 1;
    .menu_titulo{ 
        @include flexible (100%, auto, flex, center, column);
        
        div{
            .cabecera{ 
                color: white;
                text-align: left;
                font-size: 15px;
                float: left;
                margin-left: 10px;
            }
            .cabecera_local{
                color: white;
                text-align: right;
                font-size: 15px;
                float: right;
                margin-right: 10px;
            }
        }
    }
    .menu_principal{
        @include flexible (100%, auto, flex, space-between, row);
        
        div{
            .logo_electroavenida{
                
                width: 120px;
                height: 120px;
            }
        }
        .electroavenida_titulo{
            font-size: 60px;
            font-family:'Arial Narrow Bold', sans-serif ;
            font:bold;
            animation-name: slidein;
            animation-duration: 4s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }
    }
}
@keyframes slidein {
    from {
        color:  rgba(0, 0, 0, 0.512);
    }
    to{
        color:  rgba(40, 165, 233, 0.512); 
    }
}