/* VF */

.back_main{
    background: linear-gradient(rgba(0, 0, 0, 0.650), rgba(0, 0, 0, 0.650)), url("../img/aeropuerto.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container_productos_vf{
        @include grilla(100%, 10px, grid, repeat(4, 1fr), 15px, 20px,
        20px, 10px, 10px, 0px, 0px);

       
        h6{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 30px;
            font-style: bold;
        }
        .producto{
            font-size: 15px;
            background: rgb(202, 199, 199);
            color: black;
            padding: 1em;
            margin-right: 8px;
            border: 1px solid black;
            text-align: center;
            transition: 1s;
            &:hover{
                transform: scale(1.04);
                box-shadow: 13px 10px 5px 0px rgba(0,0,0,0.75);
                -webkit-box-shadow: 13px 10px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 13px 10px 5px 0px rgba(0,0,0,0.75);
            }
            .item_producto{
                margin: 3px;
                width: 150px;
                height: 150px;
            }
        }
        h5{
            font-size: 25px;
            font-style: bold;
            border: 1px solid black;
            color: white;
            background: black;
            margin-top: 10px;
        }
    }
}